* {
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace
}

body {
    background-color: #000000;
    /* overflow: hidden */
}

button {
    border: none;
    color: #dd6723;
    background-color: #000000;
    text-align: center;
    font-size: 35px;
}

#game {
    height: 100%;
}

#header {
    height: 100px;
}

.menu {
    position: relative;
    top: 200px;
    /* left: 50%; */
    margin: auto;
    width: 500px;
    text-align: center;
} 

.menu h1 {
    font-size: 42px;
}

.custom-select {
    padding: 16px;
    text-align: left;
}

.selector {
    display: inline-block;
    position: relative;
    left: 50px;
}

#difficulty {
    display: inline-block;
    width: 100px;
    text-align: center;
}

.select-label {
    display: inline;
    position: relative;
    /* float: left; */
    font-size: 36px;
    color: #bdbbbb;
    left: 0;
    text-align: left;
}

.menu select {
    display: inline;
}

#game-container {
    display: table;
    table-layout: fixed;
    /* height: 80%;
    width: 90%; */
    margin: auto;
    /* border: 1px solid red; */
    overflow: hidden;
    
}

.row {
    display: table-row;
}

.tile {
    display: table-cell;
    /* font-size: 20pt; */
    height: 200px;  
    width: 200px;
    border: 4px solid black;;
    /* float: left; */
    margin: auto;
    text-align: center;
    vertical-align: middle;
    /* border: 1px solid red; */
} .active {
    color: #FFFFFF;
    font-size: 60pt;
    font-style: bold'
} .inactive {
    color: red;
} .hidden {
    background-color: #929292;
}
