* {
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace
}

body {
    background-color: #000000;
    /* overflow: hidden */
}

#game {
    height: 100%;
}

#header {
    height: 100px;
}

#game-container {
    display: table;
    table-layout: fixed;
    /* height: 80%;
    width: 90%; */
    margin: auto;
    border: 1px solid red;
    overflow: hidden;
    
}

.row {
    display: table-row;
}

.tile {
    display: table-cell;
    /* font-size: 20pt; */
    height: 200px;  
    width: 200px;
    border: 4px solid black;;
    /* float: left; */
    margin: auto;
    text-align: center;
    vertical-align: middle;
    /* border: 1px solid red; */
} .active {
    color: #FFFFFF;
    font-size: 30pt;
    
} .inactive {
    color: red;
} .hidden {
    background-color: #929292;

}
